<% @title = "Sign Up" %>

<%= form_tag("", method: "post") do %>
  <div>
  	<%= label_tag 'first_name', 'First name:' %>
  	<%= text_field_tag(:first_name, "", :autofocus => true) %>
  </div>
  <br>
  <div>
  	<%= label_tag 'last_name', 'Last name:' %>
  	<%= text_field_tag(:last_name) %>
  </div>
  <br>
  <div>
    <%= label_tag 'address', 'Address:' %>
    <%= text_field_tag(:address) %>
  </div>
  <br>
  <div>
    <%= label_tag 'city', 'City:' %>
    <%= text_field_tag(:city) %>
  </div>
  <br>
  <div>
    <%= label_tag 'province', 'Province:' %>
  	<%= select_tag "province", options_from_collection_for_select(@provinces, "id", "name") %>
  </div>
  <br>
  <div>
    <%= label_tag 'country', 'Country:' %>
    <%= text_field_tag(:country) %>
  </div>
  <br>
  <div>
    <%= label_tag 'postal_code', 'Postal Code:' %>
    <%= text_field_tag(:postal_code) %>
  </div>
  <br>
  <div>
    <%= label_tag 'email', 'Email:' %>
    <%= text_field_tag(:email) %>
  </div>
  <br>
  <div>
    <%= submit_tag "Submit" %>
  </div>
<% end %>