<% @title = @product.name %>
<p id="notice"><%= notice %></p>
<p>
  <%= @product.name %>
</p>

<p>
  <%= image_tag @product.image %>
</p>

<p>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= round(@product.price) %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @product.stock_quantity %>
</p>

<p>
  <strong>On sale:</strong>
  <%= @product.on_sale  %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= round(@product.sale_price) unless @product.sale_price.nil? %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @product.genre %>
</p>

<%= link_to 'Buy', single_checkout_path %> | 
<%= link_to "Add to cart", add_to_session_product_path(@product.id) %>
<br>
<%= link_to 'Back', boken_path %>